<div class="well" id="class-list">
	<ul class="nav nav-list">
		<li class="nav-header">Classes</li>
		<for each="item" in="data">
		<li>{!
			if (true || item.alias !== "_global_") {
				var type = 'icon-jsdoc icon-jsdoc-';
				if (item.isNamespace) {
					type += 'namespace';
				} else if (item.isInterface) {
					type += 'interface';
				} else if (item.isConstant) {
					type += 'constant';
				} else {
					type += 'class';
				}


				var name = item.name;
				var indent = item.alias.split('.').length - 1;
				name = '<span class="indent" style="padding-left:' + (indent * 14) + 'px;">' + name + '</span>';
				if (item.isPrivate) {
					name = '<span class="jsdoc-private">' + name + '</span>';
				}

				if (item.deprecated) {
					name += '<span class="label label-important pull-right">deprecated</span>';
				}
				output += new Link().toClass(item.alias).withText("<i class='" + type + "'></i>" + name);
			}
		!}</li>
		</for>
	</ul>
</div>
