<div class="well" id="class-list">
	<ul class="nav nav-list">
		<li class="nav-header">Classes</li>
		<for each="item" in="data">
		<li>{!
			if (item.alias == "_global_") {
				output += "<i>"+new Link().toClass(item.alias)+"</i>";
			}
			else {
				output += new Link().toClass(item.alias);
			}
		!}</li>
		</for>
	</ul>
</div>
