<!DOCTYPE HTML>
<html lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset={+IO.encoding+}" />
	<meta name="generator" content="JsDoc Toolkit" />
	<title>JsDoc Reference - {+data.alias+}</title>

	<link media="all" rel="stylesheet" href="{+Link.base+}css/common.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/prettify.css" type="text/css" />
	<link media="all" rel="stylesheet" href="{+Link.base+}css/bootstrap.min.css" type="text/css" />
	<style type="text/css">
		.icon-jsdoc {
			background: url("{+Link.base+}img/classicons.png") no-repeat;
		}
	</style>
	<script src="http://code.jquery.com/jquery-1.7.2.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/bootstrap.min.js" type="text/javascript"></script>
	<script src="{+Link.base+}js/prettify.js" type="text/javascript"></script>
</head>

<body onload="prettyPrint()"><div class="container-fluid">
<!-- ============================== header ================================= -->	
	<!-- begin static/header.html -->
	<header class="header navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container-fluid">
				<a class="brand" href="#"><strong>JsDoc</strong> Reference</a>
				<ul id="class-file-selector" class="nav">
					<li><a href="{+Link.base+}index.html"><i class="icon-white icon-asterisk"></i>Class Index</a></li>
					<li><a href="{+Link.base+}files.html"><i class="icon-white icon-file"></i>File Index</a></li>
				</ul>
			</div>
		</div>
	</header>
	<!-- end static/header.html -->

<!-- ============================== classes index ============================ -->
	<div class="row-fluid">
		<div id="index" class="span3">
			<!-- begin publish.classesIndex -->
			{+publish.classesIndex+}
			<!-- end publish.classesIndex -->
		</div>
		
		<div id="content" class="span9">
<!-- ============================== class title ============================ -->
			<h1 class="classTitle">
				{!
					var classType = "";
					var classIcon = Link.base;
					
					if (data.isBuiltin()) {
						classType += "Built-In ";
					}
					
					if (data.isNamespace) {
						if (data.is('FUNCTION')) {
							classType += "Function ";
						}
						classType += "Namespace ";
						classIcon += "img/namespace.png";
					}
					else {
						classType += "Class ";
						if (data.isInterface) {
							classType += "Interface ";
							classIcon += "img/interface.png";
						} else {
							classIcon += "img/class.png";
						}
					}
					
				!}
				<img src="{+ classIcon +}" alt="{+classType+}" class="jsdoc-large-icon" />{+data.alias+}
				<if test="data.hasMethod('getInstance')"><span class="label label-jsdoc label-jsdoc-singleton">SINGLETON</span></if>
				<if test="data.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
				<if test="data.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
				<if test="data.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
				<if test="data.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
			</h1>
			<if test="data.version"><br />Version
				{+ data.version +}.<br />
			</if>
			{!
				var instanceMethods = data.methods.filter(function(symbol){ return !symbol.isStatic }).sort(makeSortby("name"));
				var instanceProperties = data.properties.filter(function(symbol){ return !symbol.isStatic }).sort(makeSortby("name"));
				var staticMethods = data.methods.filter(function(symbol){return symbol.isStatic}).sort(makeSortby("name"));
				var staticProperties = data.properties.filter(function(symbol){return symbol.isStatic}).sort(makeSortby("name"));
			!}
			<if test="!data.isNamespace">
				<div class="jsdoc-inheritance-nav">
					<ul class="breadcrumb">
						<li>Inheritance: </li>
						<for each="classSymbol" in="getParentSymbols(data)">
							<li>{+ new Link().toSymbol(classSymbol.alias) +}<span class="divider">«</span></li>
						</for>
						<li class="active">{+ data.name +}</li>
					</ul>
				</div>
			</if>
			<!--
			<div class="subnav">
				<ul class="nav nav-pills">
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Instance methods
							<span class="badge">{+ instanceMethods.length +}</span>
							<if test="instanceMethods.length"><b class="caret"></b></if>
						</a>
						<if test="instanceMethods.length">
							<ul class="dropdown-menu">
								<for each="member" in="instanceMethods">
									<li><a href="#{+ member.name +}">{+ member.name +}</a></li>
								</for>
							</ul>
						</if>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Instance properties
							<span class="badge">{+ instanceProperties.length +}</span>
							<if test="instanceProperties.length"><b class="caret"></b></if>
						</a>
						<if test="instanceProperties.length">
							<ul class="dropdown-menu">
								<for each="member" in="instanceProperties">
									<li><a href="#{+ member.name +}">{+ member.name +}</a></li>
								</for>
							</ul>
						</if>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Static methods
							<span class="badge">{+ staticMethods.length +}</span>
							<if test="staticMethods.length"><b class="caret"></b></if>
						</a>
						<if test="staticMethods.length">
							<ul class="dropdown-menu">
								<for each="member" in="staticMethods">
									<li><a href="#{+ member.name +}">{+ member.name +}</a></li>
								</for>
							</ul>
						</if>
					</li>
					<li class="dropdown">
						<a class="dropdown-toggle" data-toggle="dropdown" href="#">
							Static properties
							<span class="badge">{+ staticProperties.length +}</span>
							<if test="staticProperties.length"><b class="caret"></b></if>
						</a>
						<if test="staticProperties.length">
							<ul class="dropdown-menu">
								<for each="member" in="staticProperties">
									<li><a href="#{+ member.name +}">{+ member.name +}</a></li>
								</for>
							</ul>
						</if>
					</li>
				</ul>
			</div>
			-->

<!-- ============================== constructor summary ==================== -->
			<if test="!data.isBuiltin() && (data.isNamespace || data.is('CONSTRUCTOR'))">
				<h3>Constructor</h3>
				<div class="jsdoc-members">
					<div class="jsdoc-member">
						<div class="fixedFont">
							<b>{+ addAttrToLink(new Link().toSymbol(data.alias).withText(data.name), 'name', data.name)+}</b>
							<if test="classType != 'Namespace '">{+ makeSignature(data.params) +}</if>
							<if test="data.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
							<if test="data.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
							<if test="data.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
							<if test="data.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
							<if test="data.isStatic"><span class="label label-jsdoc label-jsdoc-static">STATIC</span></if>
						</div>
							<div class="description">
								{+resolveLinks(summarize(data.desc)) || 'No description.'+}
								<span class="pull-right">{+ new Link().toSrc(data.srcFile).withText('code »') +}</span>
							</div>
					</div>
				</div>
			</if>

<!-- ============================== instance members summary ===================== -->
			<h3>Instance members</h3>
			<if test="instanceMethods.length">
				<h4>Instance Methods<span class="jsdoc-inherits-caption pull-right">Defined By</span></h4>
				<div class="jsdoc-members">
					<for each="member" in="instanceMethods">
						<div class="jsdoc-member">
							<div class="fixedFont">
								<b>{+ addAttrToLink(new Link().toSymbol(member.alias).withText(member.name), 'name', member.name)+}</b>
								<if test="member.type && member.type !== 'void'"> : {+new Link().toSymbol(member.type)+}</if>
								<if test="member.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
								<if test="member.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
								<if test="member.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
								<if test="member.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
								<span class="jsdoc-inherits-from pull-right">{+new Link().toSymbol(member.memberOf)+}</span>
							</div>
							<div class="description">
								{+resolveLinks(summarize(member.desc)) || 'No description.'+}
								<span class="pull-right">{+ new Link().toSrc(data.srcFile).withText('code »') +}</span>
							</div>
						</div>
					</for>
				</div>
			</if>
			<if test="instanceProperties.length">
				<h4>Instance Properties<span class="jsdoc-inherits-caption pull-right">Defined By</span></h4>
				<div class="jsdoc-members">
					<for each="member" in="instanceProperties">
						<div class="jsdoc-member">
							<div class="fixedFont">
								<b>{+ addAttrToLink(new Link().toSymbol(member.alias).withText(member.name), 'name', member.name)+}</b>
								<if test="member.type"> : {+new Link().toSymbol(member.type)+}</if>
								<if test="member.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
								<if test="member.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
								<if test="member.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
								<if test="member.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
								<span class="jsdoc-inherits-from pull-right">{+new Link().toSymbol(member.memberOf)+}</span>
							</div>
							<div class="description">
								{+resolveLinks(summarize(member.desc)) || 'No description.'+}
								<span class="pull-right">{+ new Link().toSrc(data.srcFile).withText('code »') +}</span>
							</div>
						</div>
					</for>
				</div>
			</if>
			<hr />

<!-- ============================== static members summary ======================== -->
			<h3>Statice members</h3>
			<if test="staticMethods.length">
				<h4>Static Methods<span class="jsdoc-inherits-caption pull-right">Defined By</span></h4>
				<div class="jsdoc-members">
					<for each="member" in="staticMethods">
						<div class="jsdoc-member">
							<div class="fixedFont">
								<b>{+ addAttrToLink(new Link().toSymbol(member.alias).withText(member.name), 'name', member.name)+}</b>
								<if test="member.type && member.type !== 'void'"> : {+new Link().toSymbol(member.type)+}</if>
								<if test="member.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
								<if test="member.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
								<if test="member.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
								<if test="member.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
								<span class="label label-jsdoc label-jsdoc-static">STATIC</span>
								<span class="jsdoc-inherits-from pull-right">{+new Link().toSymbol(member.memberOf)+}</span>
							</div>
							<div class="description">
								{+resolveLinks(summarize(member.desc)) || 'No description.'+}
								<span class="pull-right">{+ new Link().toSrc(data.srcFile).withText('code »') +}</span>
							</div>
						</div>
					</for>
				</div>
			</if>
			<if test="staticProperties.length">
				<h4>Static Properties<span class="jsdoc-inherits-caption pull-right">Defined By</span></h4>
				<div class="jsdoc-members">
					<for each="member" in="staticProperties">
						<div class="jsdoc-member">
							<div class="fixedFont">
								<b>{+ addAttrToLink(new Link().toSymbol(member.alias).withText(member.name), 'name', member.name)+}</b>
								<if test="member.type"> : {+new Link().toSymbol(member.type)+}</if>
								<if test="member.deprecated"><span class="label label-jsdoc label-jsdoc-deprecated">DEPRECATED</span></if>
								<if test="member.isPrivate"><span class="label label-jsdoc label-jsdoc-private">PRIVATE</span></if>
								<if test="member.isProtected"><span class="label label-jsdoc label-jsdoc-protected">PROTECTED</span></if>
								<if test="member.isInner"><span class="label label-jsdoc label-jsdoc-inner">INNER</span></if>
								<span class="label label-jsdoc label-jsdoc-static">STATIC</span>
								<span class="jsdoc-inherits-from pull-right">{+new Link().toSymbol(member.memberOf)+}</span>
							</div>
							<div class="description">
								{+resolveLinks(summarize(member.desc)) || 'No description.'+}
								<span class="pull-right">{+ new Link().toSrc(data.srcFile).withText('code »') +}</span>
							</div>
						</div>
					</for>
				</div>
			</if>
			<hr />

<!-- ============================== footer ================================= -->
	<footer class="footer">
		<if test="JSDOC.opt.D.copyright"><p>&copy;{+JSDOC.opt.D.copyright+}</p></if>
		<p>Documentation generated by <a href="http://code.google.com/p/jsdoc-toolkit/" target="_blankt">JsDoc Toolkit</a> {+JSDOC.VERSION+} on {+new Date()+}</p>
	</footer>
</div></body>
</html>
