body {
	padding-top: 60px;
}

#index a {
	color: #333;
}
#index a:hover {
	color: #000;
}

#class-file-selector a {
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 0;
}

#class-list {
  padding: 8px 0;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.icon-jsdoc.icon-jsdoc-namespace {
	background-position: 0 0;
}

.icon-jsdoc.icon-jsdoc-class {
	background-position: 0 -22px;
}

.icon-jsdoc.icon-jsdoc-interface {
	background-position: 0 -44px;
}

.icon-jsdoc.icon-jsdoc-constant {
	background-position: 0 -66px;
}

#index .icon-jsdoc {
	margin-right: 4px;
}

.jsdoc-private {
	color: #bbb;
}
