body {
	padding-top: 60px;
}

#class-file-selector a {
  padding-left: 11px;
  padding-right: 11px;
  margin-right: 0;
}

#class-list {
  padding: 8px 0;
}

.footer {
  margin-top: 45px;
  padding: 35px 0 36px;
  border-top: 1px solid #e5e5e5;
}

.footer p {
  margin-bottom: 0;
  color: #555;
}

.icon-class-mini {
  background: url("../img/glyphicons-halflings.png") no-repeat;
}

.icon-namespace {
	background-position: 0 0px; 
}

.icon-static-class {
	background-position: 0 -40px; 
}

.icon-interface {
	background-position: 0 -80px; 
}

.icon-namespace {
	background-position: 0 0px; 
}

.icon-static-class {
	background-position: 0 -40px; 
}

.icon-interface {
	background-position: 0 -80px; 
}


.icon-virtual-class {
	
}
		if (item.isNamespace) classStyle = "namespace";
		if (item.isInterface) classStyle = "interface";
		if (item.isStaticClass) classStyle = "classStatic";
		if (item.isAbstractClass) classStyle = "classAbstract";
		if (item.isVirtualClass) classStyle = "classVirtual";
